body {
    font-size: 12px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: black;
}

p {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {

}

ul {

}

li {

}

button {

}

.bg-white {
    background-color: white !important;
}

.bg-grey {
    background-color: #eeeee3 !important;
}

/*navbar*/
.logo-horizontal {
    width: 260px;
    height: 100px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 2100;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*navbar*/
/*header*/
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 15%;
    color: black !important;
}


.carousel-caption h5 {
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
}

.carousel-caption p {
    font-size: 1.4rem;
}

.carousel-caption span {
    font-weight: 500;
}

.aba-carousel-button {
    border: 2px solid white;
    text-align: center;
    color: white;
    font-weight: 500;
    display: inline;
    padding: 5px;
}

.aba-carousel-button a {
    text-decoration: none !important;
    -webkit-transition: box-shadow 0.3s;
}

.aba-carousel-button:hover {
    box-shadow: 0 4px 8px 0 #818181;
    border-radius: 5px;
    -webkit-transition: box-shadow 0.3s;
}

/*header*/
/*cta*/
#aba-cta {
    text-align: center;
}

#aba-cta h5 {
    padding: 30px;
    font-weight: 700;
}

.aba-cta {
    padding: 20px;
}

.aba-cta img {
    width: 50px;
    height: 50px;
}

.aba-cta span {
    font-size: 0.6rem;
}

/*cta*/

/*testimonials*/
#aba-testimonials .jumbotron {
    padding: 0px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
}

.aba-jumbotron-image {
    height: 500px;
    width: auto;
    min-height: 500px;
}

@media screen and (max-width: 480px) {
    .aba-jumbotron-image {
        height: 640px;
        width: auto;
        min-height: 640px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .aba-jumbotron-image {
        height: 600px;
        width: auto;
        min-height: 600px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1336px) {
    .aba-jumbotron-image {
        height: 550px;
        width: auto;
        min-height: 550px;
    }
}

.aba-jumbotron-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.aba-testimonials {
    text-align: center;
    padding-top: 50px;
}

.aba-testimonials-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.aba-testimonials h4 {
    color: red;
}

.aba-testimonials h6 {
    color: #464d52;
}

.aba-testimonials p {
    color: white;
}

/*testimonials*/
#aba-partners > h2 {
    text-align: center;
}

.aba-partners-img {
    width: 125px;
}

.aba-faq {
    border-bottom-style: inset;
    padding: 15px;
}

#aba-faqs > h2 {
    text-align: center;
    margin-top: 20px;

}

.aba-faq > h5 > a:hover {
    color: #000;
}

#aba-video-section > h2 {
    margin-top: 20px;
    text-align: center;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 70%;
    margin: 20px auto 50px;

}

.heading {

    color: #f44336;
}

.page-footer {
    text-align: center;
}

.footer-link {
    text-decoration: none;
    color: #f44336 !important;
}

a:hover {
    color: gray;
    text-decoration: none;
}

#footer-logo {
    width: 170px;
    margin-bottom: 10px;
}

.footer-icon {
    color: #f44336;
    font-size: 1rem;
    background: #f44336;
    font-size: 10px;
    color: #fff;
    min-width: 18px;
    min-height: 18px;
    border-radius: 3px;
    padding: 5px 5px 4px 4px;
    display: inline-block;
    vertical-align: middle;
}

.row p {
    margin-top: 15px;
}

.mb-0 > a {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: 17px;
}

.mb-0 > a:after {
    content: "\f107"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
}

.mb-0 > a[aria-expanded="true"]:after {
    content: "\f106"; /* fa-chevron-up */
}